<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/07b49539-6f25-4848-a773-95cdbc61df8c/resourceGroups/dcc-modern-cluster/providers/Microsoft.ContainerRegistry/registries/dccmodernregistry</ContainerResourceId>
    <ContainerResourceName>dccmodernregistry</ContainerResourceName>
    <Subscription>Microsoft Azure Sponsorship</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>dccmodernregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>tpaperorders</ContainerName>
    <EnvironmentName>dcc-environment</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://tpaperorders-app-20221115224238.agreeablecoast-99a44d4d.northeurope.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/07b49539-6f25-4848-a773-95cdbc61df8c/resourceGroups/dcc-modern-containerapp/providers/Microsoft.App/containerApps/tpaperorders-app-20221115224238</ResourceId>
    <ResourceGroup>dcc-modern-containerapp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
  </PropertyGroup>
</Project>